<p-dialog header="Authentication Details" [responsive]="true" showEffect="fade" [modal]="true">
    <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="authenticationItem">
        <div class="ui-grid-row">
            <div class="ui-grid-col-4"><label for="accountName">Name</label></div>
            <div class="ui-grid-col-8"><input pInputText id="accountName" [(ngModel)]="authenticationItem.accountName"/>
            </div>
        </div>
        <div class="ui-grid-row">
            <div class="ui-grid-col-4"><label for="appId">App ID</label></div>
            <div class="ui-grid-col-8"><input pInputText id="appId" [(ngModel)]="authenticationItem.appId"/></div>
        </div>
        <div class="ui-grid-row">
            <div class="ui-grid-col-4"><label for="secret">Secret</label></div>
            <div class="ui-grid-col-8"><input pInputText id="secret" [(ngModel)]="authenticationItem.secret"/></div>
        </div>
    </div>
    <p-footer>
        <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
            <button class="delete-button" type="button" pButton icon="fa-close"
                    (click)="deleteFunction(authenticationItem)" label="Delete"></button>
            <button class="save-button" type="button" pButton icon="fa-check" (click)="saveFunction(authenticationItem)"
                    label="Save"></button>
        </div>
    </p-footer>
</p-dialog>
