<p-dataTable class="authentication-list" [value]="items" selectionMode="single" [(selection)]="selectedItem"
             [paginator]="true" rows="15" [responsive]="true">
    <p-header>App Authentication</p-header>
    <p-column field="accountName" header="Account Name" [sortable]="true"></p-column>
    <p-column field="appId" header="Application ID" [sortable]="true"></p-column>
    <p-column field="secret" header="Secret" [sortable]="false">
        <ng-template let-col let-row="rowData" pTemplate="body">
            <span class="authentication-list__secret-value authentication-list__secret-value--highlighted">{{row.secret}}</span>
        </ng-template>
    </p-column>
    <p-footer>
        <div class="ui-helper-clearfix" style="width:100%">
            <button class="list__add-button" (click)="onButtonClick()" type="button" pButton icon="fa-plus" label="Add"></button>
        </div>
    </p-footer>
</p-dataTable>
